@model healthcare_appointment.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
    <style>
        .form-container {
            max-width: 500px;
            margin: 0 auto; /* Centers the form */
            padding: 20px;
            border: 1px solid #ccc; /* Adds a border */
            border-radius: 10px; /* Rounded corners */
            background-color: #f9f9f9; /* Light background */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        }

            .form-container h2 {
                text-align: center;
                margin-bottom: 20px;
            }
    </style>
}

<div class="container">
    <div class="form-container">
        <h2>Change Password</h2>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }

        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" type="password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" style="    background-color: #bfd8bf ; border: none; color:black;" class="btn btn-primary">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>
