.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    margin: 20px auto; /* Adds spacing around the container */
    min-height: 100vh; /* Ensures the container fills the viewport height */
}

.table-container {
    width: 90%; /* Adjust width for responsiveness */
    max-width: 1000px; /* Prevents the table from being too wide */
    margin: 0 auto 20px; 
    margin-left:20%;
}

.pagination-container {
    width: 100%; /* Matches the width of the table-container */
    max-width: 1000px; /* Prevents excessive width */
    margin: 10px auto; /* Centers pagination and adds spacing */
    display: flex;
    justify-content: center;
    margin-left: 20%;
}

.pagination .page-item .page-link {
    background-color: #bfd8bf !important;
    color: #333 !important;
    border: 1px solid #a3bda3 !important;
    
}

.pagination .page-item.active .page-link {
    background-color: #99b399 !important;
    color: white !important;
}

.pagination .page-item.disabled .page-link {
    background-color: #e6e6e6 !important;
    color: #b3b3b3 !important;
}
