
body {
    background-image: url('/images/background.jpg'); 
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

{
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 460px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-right:300px;
    margin-bottom:70px !important;
   
}



h2 {
    text-align: center;
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color:black;
    font-weight:bold;
    font-size: 14px;
    
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    color:black;
}

.contact-form textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #bfd8bf !important;
    color: white;
    font-size: 16px;
    border: none !important;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #415941 !important;
        transition: 1s ease !important;
    }
   





.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.contactsub {
    background-color: #bfd8bf ;
    color: #fff;
    border-radius: 0;
    border: 1px solid #bfd8bf;
    padding: 10px;
    width: 130px;
    margin: 20px 30px;
}

    .contactsub:hover {
        background-color: #415941;
        color: #fff;
        border-radius: 0;
        border: 1px solid #415941;
        padding: 10px;
        width: 130px;
        margin: 20px 30px;
    }




