@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Shared layout for consistent design
}

@section Styles {
    <link rel="stylesheet" href="~/css/Aboutus.css" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
</head>
<body>
    <div class="about-section">
        <div class="content-wrapper">
            <div class="text-content">
                <h2>About Healthcare Appointment</h2>
              
            </div>
            <div class="image-content">
                <img src="~/images/cardiology.jpg" alt="About Healthcare Appointment Image">
            </div>

        </div>
    </div>
    <div class="lowertext">
        <p>
            <span class="dropcap">T</span>he Healthcare Appointment platform provides an efficient way for users to book appointments with medical professionals. It simplifies the process by allowing users to choose from various specialties, such as dentistry, cardiology, dermatology, and more. With a user-friendly interface, it enables patients to quickly connect with healthcare providers, ensuring their needs are met in a timely manner.
        </p>
    </div>
</body>
</html>
